<!doctype html>
<html lang="{% if page.path contains 'zh-TW' %}zh-TW{% else %}en{% endif %}">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="me" href="https://micro.blog/muan">
    <link rel="alternate" type="application/rss+xml" href="/notes.xml">
    <link rel="icon" href="/assets/fav.svg" type="image/svg+xml" sizes="24x24">
    <!--link rel="icon" href="/assets/fav.png" type="image/png" sizes="96x96"-->
    <link rel="authorization_endpoint" href="https://github-indieauth.herokuapp.com/auth">
    <link rel="token_endpoint" href="https://github-indieauth.herokuapp.com/token">
    <link rel="micropub" href="https://site-endpoint.herokuapp.com/micropub">
    {% if page.collection == "posts" %}
      <link href="/assets/syntax.css" rel="stylesheet" type="text/css">
    {% endif %}
    <link href="/assets/new.css" rel="stylesheet" type="text/css">
    {% if page.collection == "posts" or page.collection == "pages" %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
      <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" name="description">
      <meta content="article" property="og:type">
      <meta content="@muanchiou" property="twitter:site">
      <meta name="twitter:card" content="summary_large_image">
      {% if page.image %}
        <meta content="https://muan.co/images/{{ page.image }}" property="og:image">
        <meta content="https://muan.co/images/{{ page.image }}" property="twitter:image">
      {% elsif page.image_text %}
        <meta content="https://muan-text-image.herokuapp.com/title?v=2&text={{ page.image_text | strip | url_encode }}" property="og:image">
        <meta content="https://muan-text-image.herokuapp.com/title?v=2&text={{ page.image_text | strip | url_encode }}" property="twitter:image">
      {% else %}
        <meta content="summary" name="twitter:card">
        <meta content="https://muan.co/assets/logo.png" name="twitter:image">
        <meta content="https://muan.co/assets/logo.png" property="og:image">
      {% endif %}
      <title>{{ page.title }} - {{ site.title }}</title>
      <meta content="{{ page.title }}" property="og:title">
      <meta content="{{ page.title }}" name="twitter:title">
    {% else %}
      <meta content="summary" name="twitter:card">
      <meta content="https://muan.co/assets/logo.png" property="twitter:image">
      <meta content="{{ site.title }}" name="twitter:title">
      <title>{{ site.title }}</title>
      <meta content="https://muan.co/assets/logo.png" property="og:image">
      <meta content="{{ site.title }}" property="og:title">
      <meta content="{{ site.description }}" name="description">
      <meta content="blog" property="og:type">
      
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">

  </head>
  <body class="{% if page.root != true %}post-body{% endif %}" data-page-title="{{ page.title }}">
    <header>
      <div class="logo-container">
        {% if page.root != true %}
          <a href="/" aria-label="Home" class="back-link">&leftarrow;</a>
        {% endif %}
        <svg class="logo" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.564913 11.7669H4.8725C5.31818 11.7669 5.67948 12.1133 5.67948 12.5407C5.67948 12.615 5.66832 12.6889 5.64633 12.7602L3.53504 19.6027C3.48446 19.7666 3.58205 19.9388 3.753 19.9873C3.87994 20.0233 4.01694 19.9813 4.09861 19.8814L12.8797 9.14141C13.0721 8.906 13.0291 8.56556 12.7836 8.38102C12.6841 8.30627 12.5614 8.26566 12.4351 8.26566H8.28475C7.83906 8.26566 7.47776 7.91924 7.47776 7.49192C7.47776 7.41755 7.48895 7.34356 7.51097 7.27224L9.63416 0.39738C9.68478 0.233486 9.58724 0.0612819 9.4163 0.0127516C9.29022 -0.0230426 9.1541 0.0180637 9.07217 0.116672L0.123075 10.8878C-0.0713115 11.1218 -0.0310755 11.4626 0.212945 11.6489C0.312959 11.7253 0.437044 11.7669 0.564913 11.7669Z"></path>
        </svg>
        {% if page.root != true %}
          <span class="font">Mu-An Chiou</span>
        {% endif %}
      </div>
      <h1 class="h1">
        {{ page.title }}
      </h1>
      {% if page.collection == 'posts' %}<time>{{ page.date | date_to_string }}</time>{% endif %}
      <div class="desc">{{ page.header_content }}</div>
    </header>
    <main>
      {% if page.collection == "posts" or page.collection == "pages" %}
        <article>
          {{ content }}

          {% if page.feature == 1 or page.open_heart %}
            <hr class="hr">
            <div class="monospace">
              <div id="like-prompt">Like this post? let me know!</div>
              &gt;<open-heart class="text-open-heart" href="https://likes.muan.dev/?id={{ page.url }}" emoji="❤️" aria-labelledby="like-prompt">
                <span class="on">Liked.<br>(Thanks!)</span><span class="off">Sure. <kbd>⏎</kbd></span>
              </open-heart>
            </div>
          {% endif %}
        </article>
        <!--div class="pagination">
          {% if page.previous %}
            <div><a href="{{ page.previous.url }}">
              Prev: {{ page.previous.title }}
            </a></div>
          {% endif %}
          {% if page.next %}
            <div><a href="{{ page.next.url }}">
              Next: {{ page.next.title }}
            </a></div>
          {% endif %}
        </div-->
      {% else %}
        {{ content }}
      {% endif %}
    </main>
    <footer>
      <hr class="hr">
      {% capture label %}{% if page.path == 'index-zh-TW.html' %}查看原始碼{% else %}Privacy{% endif %}{% endcapture %}
      All content, images, and digital on this website are all copyright of ninja tiny kingdom. Do not copy.
      (<a href="https://github.com/muan/site">{{ label }}</a>)
    </footer>

    {% if page.root %}
    <script defer type="module" src="/assets/site.js"></script>
    <script defer type="module" src="https://unpkg.com/open-stories-element@latest"></script>
    {% endif %}
    {% if page.feature == 1 or page.open_heart or page.url == "/notes" or page.url == "/photos" %}
    <script defer type="module" src="https://unpkg.com/open-heart-element@latest"></script>
    {% endif %}
  </body>
</html>
